/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body{
  color: #000000;
  font-size: 16px;
  font-family: 'Andika', sans-serif;
  background: #DDDDDD url('../images/pigeon-background.JPEG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100% ;
  margin: 1.2em;
  display: inline;
  /*Req 1*/
}

h1{
  color: #c12258;
  font-size: 2em;
  text-align: center;
  line-height: 64px;

  /*Req 2*/
}

p{
  padding-top: 15px;
}

a{
  font-size: 16px;
  color:#B21F50;
  text-decoration: wavy underline;
  display: inline;
}

/*Req 5*/
a:focus{
  border: 3px dashed #417243;
}



td{
  padding: 10px;
  border-top: 2px solid #000000;
}


.colhead{
  color: #000000;
  min-width: 125px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #7e0825;
}

.rowhead{
  border-top: 2px solid #000000;
  border-right:2px solid #000000;
  text-align: center;
  vertical-align: middle;
}


table{
  border: 5px solid #000000;
  margin-left:auto; 
  margin-right:auto; 
  text-align: center;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-collapse:inherit;
  border-radius: 50px; 
  overflow: hidden;
}

/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */
thead tr:first-child th:first-child{
  border-top-left-radius: 50px; 
}

thead tr:last-child th:last-child{
  border-top-right-radius: 50px;
}
/*Add selectors and rules here*/
.rowhead:last-child td:last-child { 
  -moz-border-radius:50px;
  border-bottom-right-radius: 50px;
}

tr:nth-child(even){
  background-color: #D1D1D1;
}

tr:hover{
  background-color: rgba(126, 8, 37, 0.25);
}

footer{
  width:100%;
  position: absolute;
  bottom:0;
  min-height: 75px;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
}
